<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <p>Hyrecar</p>
        </header>
        <div class="content">
            <p class="headline">Login</p>
            <input placeholder="Email" />
            <input placeholder="Password" />
            <button id="submit" class="button" href="#">Log in</button>
            <a href="./register.html">Don't have an account? Sign up</a>
        </div>
        <script type="text/javascript">
            document.getElementById("submit").onclick = function () {
                location.href = "./profile.html";
            };
        </script>
    </body>
</html>