<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <p>Hyrecar</p>
        </header>
        <div class="content">
            <p class="headline">Profile</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Profile"/>
            <div class="userData">
                <label>User ID:</label>
                <input id="user_id" placeholder="ID" disabled />
            </div>
            <div class="userData">
                <label>First and Last name:</label>
                <input id="full_name" placeholder="First and Last name"/>
            </div>
            <div class="userData">
                <label>Email:</label>
                <input id="email" placeholder="Email"/>
            </div>
            <button id="save" class="button">Save</button>
            <div id="error_message"></div>
            <div id="status_message"></div>
            <button id="logout" class="button">Log out</button>
            
        </div>
        <script src="../scripts/profile.js"></script>
    </body>
</html>