<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <p>Hyrecar</p>
        </header>
        <div class="content">
            <p class="headline">Welcome</p>
            <input placeholder="First and Last name" />
            <input placeholder="Email" />
            <input placeholder="Password" />
            <input placeholder="Confirm password" />
            <button id="submit" class="button" href="#">Sign up</button>
            <a href="./login.html">Already have an account? Sign in</a>
        </div>
        <script type="text/javascript">
            document.getElementById("submit").onclick = function () {
                location.href = "./login.html";
            };
        </script>
    </body>
</html>