<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <p>Hyrecar</p>
        </header>
        <div class="content">
            <p class="headline">Welcome</p>
            <input id="fullName" type="text" placeholder="First and Last name" />
            <input id="email" type="text" placeholder="Email" />
            <input id="password" type="password" placeholder="Password" />
            <input id="confirm_password" type="password" placeholder="Confirm password" />
            <button id="submit" class="button" href="#">Sign up</button>
            <div id="error_message"></div>
            <a href="./login.html">Already have an account? Sign in</a>
        </div>
        <script src="../scripts/register.js"></script>
    </body>
</html>